.Coins {
	display: table;
	width: 100%;
}

.Coins > .coin {
  align-items: center;
  text-align: center;
  display: table-cell;
}
  
.Coins > .coin .button {
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	color: white;
	background-color: #08b2e6;
	border: none;
	border-radius: 5px;
	border-bottom: 3px solid #069;
	transition: all .2s;
}
 
.Coins > .coin .button:active {
	background-color: #069;
}