.Shelf {
	position: relative;
	width: 100%;
}

.Shelf .item {
	width: 100%;
	height: 7em;
	text-align: center;
	background: center bottom no-repeat;
	background-size: container;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.Shelf .detail {
	position: relative;
	color: var(--shelf-color-font);
	height: 1.5em;
	font-weight: bold;
	background-color: var(--shelf-color-detail);
	border-top: none;
	border-bottom: none;
	border-radius: 5px;
	margin: 5px;
}

.Shelf .detail h3 {
	visibility: hidden;
	position: absolute;
}

.Shelf .detail span {
	display: inline-block;
	margin: 0 0.25em;
	padding: 0 0.25em;
	line-height: 1.5em;
}

.Shelf .detail span.code {
	letter-spacing: 0.125em;
}

.Shelf .detail span.price {
	position: absolute;
	right: 0;
}

.Shelf .detail span.price::before {
	content: 'R$';
}