:root {
	/* Colors */
	--color-black: #000;
	--color-cyan: #7acccc;
	--color-magenta: #F7D794;
	--color-white: #fff;

	/* Machine */
	--coin-color: #D6DCDC;
	--coin-box-shadow: inset 0 -0.4em 0 -0.25em rgb(0 0 0 / 25%);

	/* Machine */
	--machine-color: #02adbd;
	--machine-width: 28em;
	--machine-box-shadow: 0 0 0 1px rgb(0 0 0 / 5%);

	/* Section */
	--section-color: #3ED0DE;

	/* Selection */
	--button-border: #E1E6E6;
	--button-color: #464E4E;
	--button-color-darker: #353b3b;

	/* Shelf */
	--shelf-color-detail: #f9ce74;
	--shelf-color-border: #f9ce74;
	--shelf-color-font: #464E4E;
	
	/* Shelves */
	--shelves-color: #242424;

	/* Tray */
	--border-tray: #02adbd;
	--color-tray: #242424;

	/* Coins */
	--coins-color-button:#f9ce74;
	--coins-color-border:#ccaa5f;


	--color-tray-content: #596276;
	--color-tray-hover: #303853;

	/* Vend */
	--vend-input-color: #242424;
	--vend-input-font: #f9ce74;
	--vend-input-box-shadow: 0 0 0.125em rgb(249 206 116 / 75%);

	--vend-button-color: #464e4e;
	--vend-button-hover: #353b3b;

	/* Decorators */
	--button-decorator-background: #596276;
	--button-decorator-color: #FFFFFF;
	--button-decorator-border: #353b3b;
}

@font-face {
    font-family: 'Technology';
    src: url('/src/assets/fonts/Technology.ttf');
}

body {
	background-color: var(--color-magenta);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}